<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allgoing"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  permission  -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ARCore가 필요한 최소 SDK 버전 선언 -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllGoing">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6464ccc167d7d34887af472c191a971f"/>

        <meta-data
            android:name="com.kakao.vectormap.KAKAO_MAP_KEY"
            android:value="6464ccc167d7d34887af472c191a971f"/>

        <meta-data android:name="com.google.ar.core"
            android:value="enabled"/>

        <!--  activity  -->
        <activity android:name=".activity.MainActivity"
            android:exported="false">
        </activity>
        <activity android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CommunityActivity"
            android:exported="false" />

        <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakao6464ccc167d7d34887af472c191a971f" />
            </intent-filter>

        </activity>

    </application>
</manifest>